# Python Basic

* For Executing every cell (Ctrl + Enter) (For pointing in the same cell after execution)
* For Executing every cell (Shift + Enter) (For moving to next cell after execution)

* Point 1
    * Sub-Point 1
        * Sub-Point 1.1
    * Sub-Point 2
        * Sub-Point 2.1

* Operating Jupyter Notebook
    * To add a new cell above - Select the cell + Press A
    * To add a new cell below - Select the cell + Press B
    * To Delete a cell - Select the cell
        * Press "D" + "D" fast
        * Press "X"

In [15]:
# Single line comment - Ctrl + "/"

In [18]:
# Select all and then Ctrl + "/"
# Multi line comment

* For adding a comment - Select all (Ctrl+A) + Ctrl + "/"
* For removing a comment - Select all (Ctrl+A) + Ctrl + "/"
        * Both are applicable for single line and multi line comments

# Heading

## Sub Heading 1

### Sub Heading 2

#### Sub Heading 3

#### Sub Heading 4

In [3]:
2 # executable integer statement

2

In [4]:
type(2)

int

In [5]:
# 2 - commented(single line comment)

In [6]:
"my name is nikhilesh" #- executable string statement

'my name is nikhilesh'

In [7]:
type("my name is nikhilesh")

str

In [19]:
3.4

3.4

In [20]:
type(3.4)

float

In [21]:
True

True

In [22]:
False

False

In [23]:
type(True)

bool

In [24]:
type(False)

bool

* DataTypes
    * INTEGER - int
    * FLOAT- float
    * BOOLEAN - True/False
    * STRING - str

In [9]:
"a" #Character

'a'

In [32]:
a #acting like a variable

NameError: name 'a' is not defined

In [26]:
"a" #Character or string

'a'

In [27]:
my_name_is_nikhilesh #acting like a variable

NameError: name 'my_name_is_nikhilesh' is not defined

In [28]:
my name is nikhilesh # combination of seperate variable names and characters

SyntaxError: invalid syntax (2244627460.py, line 1)

In [29]:
type("my name is nikhilesh")

str

   * Strings are always enclosed within single quotes 'String' or 'Double Quotes'

In [30]:
# Single Quotes Example
'Single Quotes String Example'

'Single Quotes String Example'

In [31]:
# Double Quotes Example
"Double Quotes String Example"

'Double Quotes String Example'

* From Code to Markdown - Select the cell and press M
* From Markdown to code - Select the cell and press Y

### Use a variable

In [34]:
# a variable is a container ,which stores the values
variable = "value"   # a variable is a container, which stored value of string type

In [35]:
variable

'value'

In [38]:
a=10 #which stored value of integer 10 in container/variable a

* = is an assignment operator
* == is a comparision operator

In [43]:
a = 5 # assigning a value of 5 to variable

In [44]:
a

5

In [45]:
a == 10 # comparision

False

In [46]:
type(a)

int

In [47]:
type(a) == int

True

In [48]:
type(a) == float

False

In [49]:
type(a) == bool

False

In [50]:
(type(a)==int)== True

True

In [51]:
((type(a)==int)==True)!=True

False

In [53]:
a = True

In [55]:
(((type(a)==int)==True)!=True)!=(False !=type(a))

False

In [39]:
type(a)

int

In [42]:
type(a) == int

True

In [2]:
"a" # character

'a'